#pcount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
}
.bt1 {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(2px);
  color: black;
  font-weight: 200;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  margin-left: 10px;
  margin-right: 10px;
}
.bt1:hover {
  cursor: pointer;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.5);
}
.bt1:active {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#but {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
